body {
    margin: 0;
    overflow-x: hidden;
    background-color: #45674a;
}
body, button, a {
    color: #bff1c8;
    
  font-family: "Assistant", sans-serif;
    font-weight: 100;
} 
h1, h2, h3, h4, h6 {
    margin: 20px 0;
    font-weight: 250;
}
h1 {
    font-size: 3vw;
    font-weight: bold !important;
}
h2 {
    font-size: 3vwpx;
}
h3 {
    font-size: 2vw;
}
h4 {
    font-size: 1.6vw;
}
h5, .footer.btn {
    margin: 5px 0;
    font-size: 1.1vw;
    font-weight: bold !important;
}
h6 {
    font-size: 1.1vw;
    font-weight: normal !important;
}
button, a {
    font-size: 1.8vw;
    text-decoration: none;

    background-color: #00000000;
    border: none;
    border-radius: 5px;

    min-width: 100px;
    padding: 10px;
    margin: 2px;
    text-align: center;
} button:hover, a:hover {
    cursor: pointer;

    color: #bff1c8;
    background-color: #5f8065;

    box-shadow: inset 2.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.44);
} button {
    background-color: #2a5f32;

    box-shadow: 1.0px 1.9px 1.9px hsl(0deg 0% 0% / 0.47);
} a {
    color: #45674a;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 0;
    padding: 0 20px;
} 
#header{
    position: relative;
    height: 20vh;
    z-index: 10;
    box-shadow: 0px 12px 8px hsl(0deg 0% 0% / 0.30);
} .navbar {
    display: flex;
    flex-direction: row;
}
#header, #footer {
    background-color: #e8e3d8;
} 
#footer { 
    color: #45674a; 
    padding: 30px 40px;
    box-shadow: 0px -6px 8px hsla(0, 0%, 0%, 0.142);
}

.media {
    position: absolute;
    z-index: -100;
    display: grid;
    grid-template-columns: 1fr 3fr;
    top: 20vh;
    width: 100vw;
}
.media video,
.media img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    display: block;
}
.media img {
    object-position: top right;
}
.txt {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: baseline;

    height: 65vh;
    width: 45vw;
    padding-bottom: 5vh;
}
.hero {
    width: 25vw;
}

#content {
    background-color: #00000000;
    padding: 30px 200px;

    flex-direction: row;
    align-items: start;
} #content > *, #footer > * {
    flex: 1;
    padding: 5px;
    align-items: start;
}
.container.inverse#content {
    color: #5f8065;
    background-color: #e8e3d8 !important;
    align-items: center;
    justify-content: center;
}

/* Image container */
.imageWrap {
    position: relative; /* anchor for absolute button */
    flex-shrink: 0;
    
}

/* Button overlay */
.imgBtn {
    font-size: 50px;
    position: absolute;
    top: 30px;
    right: 150px;

    background-color: #e8e3d8;
    color: #45674a;
    box-shadow: 1.0px 6.1px 6.1px hsl(0deg 0% 0% / 0.41);

    border: none;
}
.secImg{
    max-width: 400px;
    border-radius: 80px;
    box-shadow: -1px 2px 8px hsla(0, 0%, 0%, 0.692);

}
.thirdImg {
    max-width: 500px;
    border-radius: 500px 500px 25px 25px;
box-shadow: 1.8px 3.5px 3.5px hsl(0deg 0% 0% / 0.45);

}

.footer.btn {
    background-color: #00000000;
    color: #152a18;
    padding: 0;
    margin: 5px 0;
    text-align: left;
    box-shadow: none;
} .footer.btn:hover { color: #45674a; }
.column {
    display: flex;
    flex-direction: column;
}

.logoImg {
    width: 180px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center !important;
}
.end {
    text-align: end !important;
}
#italic {
    font-style: italic;
}

.menuToggle { 
    display: none;
    border-radius: 50px;
    padding: 0 !important;
    margin: 0;
    height: 100px !important;

    background-color: #00000000;
    box-shadow: none;
} .menuToggle:hover {
    background-color: #00000000;
    box-shadow: none;
}


@media (max-width: 1050px) or (orientation: portrait) {
    .navbar, .secImg, .thirdImg, img.header, h6.footer, .footer.desktop {
        display: none;
    }
    .media{
        display: block;
    }
    .txt {
        width: 80vw;
    }
    .hero {
        width: 50vw;
    }
    #content {
        padding: 20px;
        flex-direction: column;
    }
    #footer {
        padding: 0px 15px;
    }
    #footer .footer {
        max-width: 20vw;
    }
    .end {
        text-align: center !important;
    }
    button, a { font-size: 25px; }
    h1 { font-size: 30px; }
    h2 { font-size: 40px; }
    h3 { font-size: 35px; }
    h4 { font-size: 20px; }
    h5, .footer.btn { font-size: 11px; }

    .menuToggle {
        display: block;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 20vh;
        left: 0;
        width: 100%;
        background-color: #e8e3d8;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        box-shadow: 0px 8px 12px rgba(0,0,0,0.25);
        z-index: 999;
    }

    .navbar a {
        font-size: 22px;
        padding: 12px 0;
    }

    .navbar.open {
        display: flex;
    }

}
.hamburger {
    cursor: pointer;
}

.hamburger .line {
    transform-origin: center;
    transition:
        transform 0.3s ease,
        opacity 0.2s ease;
}

/* When menu is open */
.menuToggle.active .top {
    transform: translateY(10.5px) rotate(45deg);
}

.menuToggle.active .middle {
    opacity: 0;
}

.menuToggle.active .bottom {
    transform: translateY(-10.5px) rotate(-45deg);
}
